<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Привет Федор</h1>
  </div>
</div>
<div class="container">
<h1>Тут можно что то создавать</h1>
<br>
  <div class="alert alert-info text-center" role="alert">
   <h1>Тут можно то же</h1>
  </div>
</div>
</body>
</html>
